@media (min-width: 700px) {
	footer {
		text-align: left;
		.container {
			display: flex;
			justify-content: space-between;
		}
		.feedback, .copyright {
			margin: 0;
		}
	}
}

@media (min-width: 768px) {
	.content {
		&:before {
			height: 380px;
		}
	}
	.page-title {
		font-size: 50px;
	}
	.descr-block {
		margin-bottom: 80px;
	}
	.descr-block__body {
		padding: 29px 90px 60px;
	}
	.add-frilance {
		.descr-block__text {
			margin-bottom: 52px;
		}
	}
	.add-frilance__link {
		margin-bottom: 50px;
	}
	.columns {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		margin-bottom: 86px;
		&--updating {
			margin-bottom: 82px;
			.columns__image {
				position: relative;
				left: -24px;
			}
			.columns__text {
				max-width: 350px;
				padding-top: 70px;
				position: relative;
				left: -40px;				
			}
			.descr-block__text {
				margin-bottom: 49px;
			}
		}
		&--sort {
			margin-bottom: 152px;
			align-items: flex-start;
			.columns__text {
				max-width: 365px;
				position: relative;
				left: -37px;
			}
			.columns__image {
				margin-top: -75px;
				position: relative;
				left: -58px;
			}
			.descr-block__text {
				margin-bottom: 49px;
			}
		}
		&--nosheets {
			justify-content: space-between;
			margin-bottom: 93px;
			.columns__text {
				max-width: 620px;
				position: relative;
				margin-top: -4px;
				right: -45px;
			}
			.descr-block__text {
				margin-bottom: 70px;
			}
		}
		&--functional {
			justify-content: flex-start;
			margin-bottom: 188px;
			.columns__text {
				padding-top: 25px;
				margin-left: 173px;
			}
		}
	}
	.columns__image {
		display: block;
		&.step-animation {
			width: 324px;
			height: 321px;
			background: url('../images/sequence-3.png') 0 0 no-repeat;
			animation: sequence 5s steps(46) infinite;
			img {
				display: none;
			}
		}
	}
	.descr-block__text {
		margin-bottom: 38px;
	}
	.steps-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.steps-list__item {
		min-width: 45%;
		max-width: 45%;
		margin-bottom: 50px;
	}
	.steps-list__title {
		font-size: 24px;
		margin-bottom: 20px;
	}
	.subscribe {
		padding: 70px 270px 60px;
		margin-bottom: 120px;
		.descr-block__text {
			margin: 0 -16px 60px;
		}
	}
	.benefits {
		padding: 14px 0 0;
		li {
			margin-bottom: 23px;
		}
	}
}

@media(min-width: 1100px) {
	header {
		padding-top: 40px;
		height: 560px;
	}
	.head-img {
		display: block;
	}
	/* .columns__image {
		& + .columns__text {
			margin-left: 160px;
		}
	}
	.columns__text {
		& + .columns__image {
			margin-left: 160px;
		}
	} */
}

@media(min-width: 1300px) {
	header {
		.logo {
			width: 100%;
			position: fixed;
			top: 40px;
			left: 0;
			z-index: 2;
			svg {
				position: absolute;
				top: 0;
				left: 30px;
			}
		}
	}
}

@media(min-width: 1400px) {
	header {
		.logo {
			svg {
				left: 70px;
			}
		}
	}
}